In [6]:
# import libraries
import pandas as pd

In [12]:
# install the ipython-sql library
!pip install ipython-sql
!pip3 install mysqlclient

Requirement already satisfied: ipython-sql in c:\users\sanjay\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sanjay\anaconda3\lib\site-packages (from ipython-sql) (2.0.10)
Requirement already satisfied: sqlparse in c:\users\sanjay\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in c:\users\sanjay\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in c:\users\sanjay\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\sanjay\anaconda3\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython-genutils in c:\users\sanjay\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sanjay\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sanjay\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: colorama in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: backcall in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\users\sanjay\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\sanjay\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\sanjay\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp39-cp39-win_amd64.whl (178 kB)
     ------------------------------------ 178.5/178.5 kB 598.9 kB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [14]:
# load the SQL modules
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# Configure sql magic to output queries as pandas dataframes:
#%config SqlMagic.autopandas=True

In [16]:
%sql mysql://root:S#m1n2ya3@localhost/ig_clone

 # Answer the following questions:

## 1. We want to reward the user who has been around the longest, Find the 5 oldest users.

In [18]:
%%sql
select * from users order by  created_at asc limit 5;

 * mysql://root:***@localhost/ig_clone
5 rows affected.

[(80, 'Darby_Herzog', datetime.datetime(2016, 5, 6, 0, 14, 21)),
 (67, 'Emilio_Bernier52', datetime.datetime(2016, 5, 6, 13, 4, 30)),
 (63, 'Elenor88', datetime.datetime(2016, 5, 8, 1, 30, 41)),
 (95, 'Nicole71', datetime.datetime(2016, 5, 9, 17, 30, 22)),
 (38, 'Jordyn.Jacobson2', datetime.datetime(2016, 5, 14, 7, 56, 26))]

## 2. To understand when to run the ad campaign, figure out the day of the week most users register on?

In [20]:
%%sql
select (select dayname(created_at)) as week_day,count(id) as Total_register_users 
from users 
group by week_day 
order by Total_register_users desc limit 2;

 * mysql://root:***@localhost/ig_clone
2 rows affected.

[('Thursday', 16), ('Sunday', 16)]

## 3. To target inactive users in an email ad campaign, find the users who have never posted a photo

In [22]:
%%sql
select * from users where id NOT IN (select user_id from photos ) ;
select * from users u left join photos p on u.id=p.user_id where p.user_id is null;
select * from users  u where  not exists (select * from photos p where u.id=p.user_id);
select * from users u where 0= (select count(*) from photos p where u.id=p.user_id);

 * mysql://root:***@localhost/ig_clone
26 rows affected.
26 rows affected.
26 rows affected.
26 rows affected.

[(5, 'Aniya_Hackett', datetime.datetime(2016, 12, 7, 1, 4, 39)),
 (7, 'Kasandra_Homenick', datetime.datetime(2016, 12, 12, 6, 50, 8)),
 (14, 'Jaclyn81', datetime.datetime(2017, 2, 6, 23, 29, 16)),
 (21, 'Rocio33', datetime.datetime(2017, 1, 23, 11, 51, 15)),
 (24, 'Maxwell.Halvorson', datetime.datetime(2017, 4, 18, 2, 32, 44)),
 (25, 'Tierra.Trantow', datetime.datetime(2016, 10, 3, 12, 49, 21)),
 (34, 'Pearl7', datetime.datetime(2016, 7, 8, 21, 42, 1)),
 (36, 'Ollie_Ledner37', datetime.datetime(2016, 8, 4, 15, 42, 20)),
 (41, 'Mckenna17', datetime.datetime(2016, 7, 17, 17, 25, 45)),
 (45, 'David.Osinski47', datetime.datetime(2017, 2, 5, 21, 23, 37)),
 (49, 'Morgan.Kassulke', datetime.datetime(2016, 10, 30, 12, 42, 31)),
 (53, 'Linnea59', datetime.datetime(2017, 2, 7, 7, 49, 34)),
 (54, 'Duane60', datetime.datetime(2016, 12, 21, 4, 43, 38)),
 (57, 'Julien_Schmidt', datetime.datetime(2017, 2, 2, 23, 12, 48)),
 (66, 'Mike.Auer39', datetime.datetime(2016, 7, 1, 17, 36, 15)),
 (68, 'Franco_Keebler64', datetime.datetime(2016, 11, 13, 20, 9, 27)),
 (71, 'Nia_Haag', datetime.datetime(2016, 5, 14, 15, 38, 50)),
 (74, 'Hulda.Macejkovic', datetime.datetime(2017, 1, 25, 17, 17, 28)),
 (75, 'Leslie67', datetime.datetime(2016, 9, 21, 5, 14, 1)),
 (76, 'Janelle.Nikolaus81', datetime.datetime(2016, 7, 21, 9, 26, 9)),
 (80, 'Darby_Herzog', datetime.datetime(2016, 5, 6, 0, 14, 21)),
 (81, 'Esther.Zulauf61', datetime.datetime(2017, 1, 14, 17, 2, 34)),
 (83, 'Bartholome.Bernhard', datetime.datetime(2016, 11, 6, 2, 31, 23)),
 (89, 'Jessyca_West', datetime.datetime(2016, 9, 14, 23, 47, 5)),
 (90, 'Esmeralda.Mraz57', datetime.datetime(2017, 3, 3, 11, 52, 27)),
 (91, 'Bethany20', datetime.datetime(2016, 6, 3, 23, 31, 53))]

## 4. Suppose you are running a contest to find out who got the most likes on a photo. Find out who won?

In [23]:
%%sql
select * from users u inner join photos p on p.user_id=u.id where p.id =
(select photo_id from likes 
group by photo_id order by count(user_id)desc limit 1);

 * mysql://root:***@localhost/ig_clone
1 rows affected.

[(52, 'Zack_Kemmer93', datetime.datetime(2017, 1, 1, 5, 58, 22), 145, 'https://jarret.name', 52, datetime.datetime(2023, 4, 11, 22, 44, 41))]